<!-- views/partials/header.ejs -->
<div class="container">
    <a href="https://pixabay.com/"><img src="pixabay-3951079_960_720.png" class="img-fluid" alt="pixabay logo by Peter Lomas"></a>
    <figure class="text-center">
        <blockquote class="blockquote text-white-50">
          <p>Node.js Project 2: Small Project on Templates </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Pixabay feat. <cite title="Source Title" class="text-danger">Teemu Näsänen</cite>
        </figcaption>
      </figure>

    </div>
    